<div class="left-panel">
  <div class="left-nav left-top-nav">
    <ul>
      <li class="active">
        <a routerLink="/mychat" title="聊天">
          <img src="./assets/images/5.png" width="16" height="16" alt="" />
        </a>
      </li>
      <li>
        <a routerLink="/mycontact" title="通讯录">
          <img src="./assets/images/4.png" width="16" height="17" alt="" />
        </a>
      </li>
      <li>
        <a routerLink="/myfavorite" title="所有">
          <img src="./assets/images/6.png" width="16" height="17" alt="" />
        </a>
      </li>
      <li *ngIf='!prod'>
        <a routerLink="/log" title="日志">
          <img src="./assets/images/log1.svg" width="16" height="17" alt="" />
        </a>
      </li>
    </ul>
  </div>
  <div class="left-nav left-bottom-nav">
    <ul>
      <li style="display:none">
        <a routerLink="/mychat" title="帮助">
          <img src="./assets/images/3.png" width="18" height="18" alt="" />
        </a>
      </li>
      <li style="display:none">
        <a routerLink="/log" title="日志">
          <img src="./assets/images/log1.svg" width="16" height="16" alt="" />
        </a>
      </li>
      <li>
        <a routerLink="/conf" title="我的">
          <img src="./assets/images/1.png" width="38" height="39" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
