
    <!-- <a>
      <img class="com-logo" [src]="getGroupLogoString(item.avatarsrc)" width="48" height="48" alt="" />
      <div class="com-name-bar">
        <span class="com-name">{{topic.name}}</span>
        <span class="talk-time">11:32</span>
      </div>
      <div class="com-talk">{{topic.message}}</div>
    </a> -->

    <!-- <a  >
      <img class="com-logo"  width="48" height="48" alt="" />
      <div class="com-name-bar">
        <span class="com-name">item.name</span>
        <span class="talk-time">11:32</span>
      </div>
      <div class="com-talk">item.lastmsg</div>
    </a> -->
    