<div class="reg-box">
  <div class="link-txt" > <a [routerLink]="['/login']">登录</a> | <a [routerLink]="['/register']">注册</a></div>
 <div id="first" style='width:100%; height:100%; overflow:hidden'>
    <div class="page-title">找回密码</div>
    <div class="reg-panel">
      <table width="100%">
        <tr>
          <td class="reqmsg">*</td>
          <td colspan="2">
            <input id="phone" type="text" placeholder="请输入手机号" name="phone" >
            <span class="msg-tip tip-hpone" > {{errorMsg}}</span>
          </td>
        </tr>
        <tr>
          <td class="reqmsg">*</td>
          <td colspan="2">
            <input id="verfiycode" type="text"  placeholder="请输入验证码" name="verfiycode" style="width:60%">
            <button id="getcode" class="btn btn-yzm  " type="button" value="获取验证码"  >获取验证码</button>
            <span class="msg-tip tip-verfiycode" > {{errorMsg}}</span>
          </td>
          <!-- <td>
            
          </td> -->
        </tr>
        <tr>
          <td></td>
          <td colspan="2">
            <button id="next_btn"  class=" btn-reg" type="button" value="下一步" >下一步</button>
          </td>
        </tr>
      </table>
 </div>
 </div>
  
    <div class="msg-bar" ></div>
    <div id="second" style='width:100%; height:100%;overflow:hidden; display:none'>
        <div class="page-title">重置密码</div>
        <div class="reg-panel">
           
            <table width="100%" >
                
                <tr>
                  <td class="reqmsg">*</td>
                  <td colspan="2">
                    <input id="password"  type="password" placeholder="请输入密码" name="password" >
                    <div class="pwd-ico eye-open" ></div>
                    <span class="msg-tip tip-pwd" > </span>
                  </td>
                </tr> 
                <tr>
                    <td class="reqmsg">*</td>
                    <td colspan="2">
                      <input id="repassword"  type="password" placeholder="请输入确认密码" name="repassword" >
                      <div class="pwd-ico eye-open" ></div>
                      <span class="msg-tip tip-repwd" > </span>
                    </td>
                  </tr> 
                
                <tr>
                  <td></td>
                  <td colspan="2">
                    <button id="reset_btn"   class=" btn-reg"  type="button" value="提交" >提交</button>
                  </td>
                </tr>
              </table>
        </div>
        
    </div>
    
 
</div>
