<div class="middle-panel " >
    <div _ngcontent-c6="" class="panel-title">
        <span>我的</span>
      </div>  
  <div class="data-list">
      <ul>
        <li>
          <a class="active" [routerLink]="['my']">个人信息</a>
        </li>
        <li>
          <a [routerLink]="['pwd']">修改密码</a>
        </li>
        <li>
          <a>我的团队</a>
          <ul class="data-list-second">
            <li>
                <a [routerLink]="['team']">团队信息</a>
            </li>
            <li>
                <a [routerLink]="['member']"   style="display: none">成员管理</a>
            </li>
          </ul>
          
        </li>
        <li>
          <a  (click)="logout()">退出</a>
        </li>
      </ul>
    </div>
  </div>
 
      <router-outlet></router-outlet>
  

